<section class="services">
  <div>
    <a href="/build-your-wedding/">
      <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/build-banner.png" alt="{{lang 'services.build'}}">
    </a>
  </div>
  <div>
    <a href="/singles/">
      <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/singles-banner.png" alt="{{lang 'services.singles'}}">
    </a>
  </div>
  <div>
    <a href="/cheesy/">
      <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/cheesy-banner.png" alt="{{lang 'services.cheesy'}}">
    </a>
  </div>
</section
