---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel}}
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

{{> components/common/services}}
<div class="main full">
  <h1 class="page-heading">Designing your Love</h1>
  <p class="aboutdl">Designing Love is not only an affordable wedding stationery online shop. Here you have a true experience choosing and participating of the whole process and all the little details of the design and customization of your wedding visual identity. In the end you will not only receive a beautiful stationery but a festival of joy, love and excitement… and will really feel you big day getting into shape and becoming real. At Designing Love we don’t work with paper or computers, we work with emotions!</p>
    {{#if products.featured}}
        {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}

    {{#if products.top_sellers}}
        {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
    {{/if}}

    {{#if products.new}}
        {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
    {{/if}}
</div>
<a href="/love-your-business/"><div class="business"></div></a>
<h1 class="page-heading">What's New</h1>
<div id="instafeed"></div>
{{/partial}}
{{> layout/base}}
